@model CosmeticFinder.ViewModels.CosmeticListViewModel

<h1>@Model.Title</h1>

<table class ="table">
    @foreach (var field in Model.Fields)
    {
        <tr>
            <td>
                <a asp-controller="List"
                   asp-action="Cosmetics"
                   asp-route-column="@Model.Column"
                   asp-route-value="@field.Value">@field.Value</a>
            </td>
        </tr>
    }
</table>
